h1{color: red;} 
/* *{border: 'solid';} */

.header{
    background-color: #26a0c5;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{text-align: left;}

u,h3{text-align: center;}


